body {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  //   font-family: "Fraunces", serif;
  p {
    font-size: 1.125rem;
    line-height: 1.875rem;
    letter-spacing: -0.13px;
    font-weight: 600;
    color: $dark-grayish-blue;
  }
  h1,
  h2,
  h3,
  .client-name,
  .learn-more {
    font-family: "Fraunces", serif;
    font-weight: 900;
  }

  h1 {
    color: white;
    font-size: 2.5rem;
    letter-spacing: 6.25px;
    text-transform: uppercase;
  }
  h2 {
    font-size: 2rem;
    letter-spacing: -0.23px;
    color: $very-dark-desaturated-blue;
  }
  h3 {
    font-size: 1rem;
    letter-spacing: 4px;
    color: $grayish-blue;
    text-transform: uppercase;
  }
  .learn-more {
    font-size: 0.9375rem;
    line-height: 1.5625rem;
    letter-spacing: 1px;
    text-decoration: none;
    color: $very-dark-desaturated-blue;
    text-transform: uppercase;
  }
  .client-name {
    font-size: 1.125rem;
    letter-spacing: -0.13px;
    color: $very-dark-desaturated-blue;
  }
  .client-status {
    font-size: 0.875rem;
    line-height: 1.5625rem;
    letter-spacing: -0.1px;
    color: $grayish-blue;
  }
  .footer-links {
    font-size: 1.125rem;
    letter-spacing: -0.13px;
    text-decoration: none;
    color: $dark-moderate-cyan;
  }
  .nav-links {
    color: $dark-grayish-blue;
    font-size: 1.25rem;
    letter-spacing: -0.14px;
    line-height: 1.5625rem;
  }
}
